body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#header {
  width: 100%;
  background-color: #EEEEEE;
  padding: 5px;
  height: 30px;
}

#logo {
  float: left;
  font-weight: bold;
  font-size: 120%;
}

#buttonContainer {
  width: 233px;
  margin: 0 auto;
}

.toggleButton {
  float: left;
  border: 1px solid grey;
  padding: 6px;
  border-right: none;
  font-size: 90%;
  cursor: pointer;
}

.active {
  background-color: #A3E2FF;
}

.highlightedButton {
  background-color: grey;
}

textarea {
  resize: none;
  border-top: none;
  border-color: grey;
}

.panel {
  width: calc(50% - 5px);
  /* Adjusted width */
  float: left;
  border-left: none;
  resize: none;
  border: 1px solid grey;
  margin-right: 5px;
  padding: 8px;
  box-sizing: border-box;

}

#outputPanel {
  border: none;
  width: calc(50% - 5px);

  float: left;
  padding: 8px;

  box-sizing: border-box;

}

.hidden {
  display: none;
}